name: CI - Test App Remote
run-name: "${{ github.workflow }} - ${{ github.ref_name }}"
on: 
  pull_request_target:
    branches: [ main, release/*/main ]
jobs:
  testApp:
    uses: egeringer/reusable-github-actions/.github/workflows/ci-test.yml@main
    secrets:
      NPM_AUTH_TOKEN: ${{ secrets.NpmAuthToken }}