# This is a basic workflow that is manually triggered

name: Manual deploy

# Controls when the action will run. Workflow runs when manually triggered using the UI
# or API.
on:
  workflow_dispatch:
    # Inputs the workflow accepts.
    inputs:
      message:
        # Friendly description to be shown in the UI instead of 'name'
        description: 'Deploy message'
        # Default value if no value is explicitly provided
        default: ''
        # Input has to be provided for the workflow to run
        required: true
      environment:
        description: 'Environment to get the code deployed to'
        type: environment
        required: true

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "deploy"
  deployLog:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest
    environment: 
      name: development
      url: https://development.github.com
    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
    - name: Log Deployment Environment
      run: echo "Deploying ${{ github.event.inputs.environment }} - Message ${{ github.event.inputs.message }}"
    - name: Log Environment
      env:
        SLACK_WEBHOOK_URL: '${{ secrets.SLACK_WEBHOOK_URL }}'
        PRUEBA_EZE: 'Probando'
        AMBIENTE: '${{ github.event.inputs.environment }}'
        NPM: '${{ secrets.NPM_TOKEN }}'
      run: env
    - name: Test Slack
      env:
        SLACK_WEBHOOK_URL: '${{ secrets.SLACK_WEBHOOK_URL }}'
      run: if [ "$SLACK_WEBHOOK_URL" != "" ]; then echo SI; else echo NO; fi
    - name: Test Prueba Eze
      env:
        PRUEBA_EZE: 'Probando'
      run: if [ "$PRUEBA_EZE" != "" ]; then echo SI; else echo NO; fi
    - name: Log NPM
      env:
        NPM: '${{ secrets.NPM_TOKEN }}'
      run: if [ "$NPM" != "" ]; then echo SI; else echo NO; fi
    - name: Log NPM Falso
      env:
        NPM: '${{ secrets.NPM_TOKEN_FALSO }}'
      run: if [ "$NPM" != "" ]; then echo SI; else echo NO; fi
    - name: Log NPM Directo
      run: echo '${{ env.NPM_TOKEN }}'
      
  slackNotification:
    runs-on: ubuntu-latest
    environment: 
      name: staging
      url: https://testing.github.com
    steps:
    - name: Send GitHub Action trigger data to Slack workflow
      id: slack
      uses: slackapi/slack-github-action@v1.21.0
      env:
        SLACK_WEBHOOK_URL: '${{ secrets.SLACK_WEBHOOK_URL }}'
      with:
        # This data can be any valid JSON from a previous step in the GitHub Action
        payload: |
          {
            "environment": "${{ github.event.inputs.environment }}",
            "message": "${{ github.event.inputs.message }}",
            "status": "${{ job.status }}"
          }